body {
   background: cornsilk;
}

.alert-light {
  border-color: #bfbfbf;
}

.user_images{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 10px;
}

footer{
  width: 70%;
  margin-left: 15%;
}

.form-register.auth input, .form-register.auth textarea{
  display: block;
  width: 100%;
  margin-top: 3px;
  border: 1px solid silver;
  padding: 2%;
  border-radius: 3px;
}

.form-register {
  padding: 20px;
  background: #AFEEEE;
  border: 2px solid silver;
  margin-top: 20px;
}

.form-register .helptext {color: #b7b7b7}

.form-register .errorlist{
  color: #ca5858;
  font-weight: bold;


}


.post{
  display: flex;
  align-items: center;

}
