{% extends "blog/base.html" %}

{% block title %}
{{title}}
{% endblock %}
{% block content %}
  {% for i in news %}
    <div class="alert alert-light">
    <h1>{{i.title}}</h1>
    <p>{{i.text|striptags|truncatechars:100}}</p> <!-- стрип: прячет символы штмл, трунк обрезает текст до 50 символов -->
    <div class="row">
      <div class="post">
        <img src="{{ i.avtor.profile.img.url }}" alt="{{ i.avtor }}" class="user_images">
        <div class="post__info">
          <span class="text-muted">Публикация: {{i.date|date:"d E Y в H:i"}}</span>
          {% if i.avtor %}
              <p><b>Aвтор:</b><a href="{% url 'user_news' i.avtor %}" class="m-1">{{ i.avtor }}</a></p> <!-- i.АВТОР - БЕРЁМ ЛОГИН АВТОРА -->
          {% else %}
              <p>Aвтор:<mark> Pasha</mark></p>
          {% endif %}
        </div>

      </div>

      </div>
      <a href="{% url 'news_detail' i.id %}" class="btn btn-outline-warning mt-3">Читать далее</a>
    </div>

  {% endfor %}
<!-- ПАГИНАЦИЯ в вьюсдотпай параметр пагынате_бай = ... -->
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="{% url 'home' %}" class="btn btn-outline-danger">Начало</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-danger">Предыдущая</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <button class="btn btn-danger">{{ num }}</button>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}" class="btn btn-outline-danger">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-danger">Следующая</a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-danger">В конец</a>
    {% endif %}
  {% endif %}
<!-- КОНЕЦ ПАГИНАЦИИ -->
{% endblock %}

{% block aside_block %}
<h3>Боковая часть</h3>
<h1 class = "mt-2">Интересные статьи</h1>
<p>Обезьяны обитают в тропических и субтропических регионах Америки, Африки (за исключением Мадагаскара), в Гибралтаре, а также в Южной и Юго-Восточной Азии вплоть до Японии. Человек населяет все континенты за исключением Антарктиды (где не живёт постоянно, но постоянно присутствует).</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/9/94/Monkey_batu.jpg" class="img-thumbnail mt-2">
<p><h2>Бегают в джунглях</h2></p>
<a href="https://ru.wikipedia.org/wiki/%D0%9E%D0%B1%D0%B5%D0%B7%D1%8C%D1%8F%D0%BD%D1%8B" target = "_blank">
<button class="btn btn-info">Посмотреть</button>
</a>
{% endblock %}
